<div class="container">
  
  <p id ="para1" #refpara (click)="onFirstClick()"> 1 Click Me !</p>  <br>

  <p id="para2" (click)="onSecondClick($event)"> 2 Click Me</p> <br>

  <p id="para3" clickCatcher > 3 Click Me </p> <br>

  <ul id="parent-list" clickCatcher>
    <li id="post-1">Item 1</li>
    <li id="post-2">Item 2</li>
    <li id="post-3">Item 3</li>
    <li id="post-4">Item 4</li>
    <li id="post-5">Item 5</li>
    <li id="post-6">Item 6</li>
  </ul>

  <!-- Here we have added clickCatcher attribute directive to the ul element but it applies for child  elements as well -->
  
</div>
